package-lock.json
nodejsServer/node_modules
contentUSER.db
nodejsServer/coverage
IDEWorkspaceChecks.plist
Podfile.lock
TodoList_macosx/TodoListApp.xcodeproj/project.xcworkspace/xcuserdata/danilkorotenko.xcuserdatad
TodoList_macosx/TodoListApp.xcodeproj/xcuserdata/danilkorotenko.xcuserdatad
