
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: rgb(219, 225, 245);
  overflow: hidden;
}

.App-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.InputContainer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(219, 225, 245);
  padding: 20px;
  box-sizing: border-box;
  z-index: 999;
}
.HeaderContainer {
  position: sticky;
  top: 0;
  background-color: #426ee9;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
}
