.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgb(219, 225, 245);
  position: relative;
}

.App-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 100%;
}

.InputContainer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(219, 225, 245);
  padding: 20px;
  box-sizing: border-box;
}


.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 1000;
  
}